ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_CHAIN_ID=5042002
ARC_ESCROW_CONTRACT=0xE9e9d7A274528D2B055aDe9c5f4b7f9DF639e2f7
GENLAYER_NETWORK=studionet
GENLAYER_JUDGE_CONTRACT=0xd1066738fB575067e65a3975aF6Ef9945fE1CB33
PORT=8895
PROOFPAY_DB_PATH=proofpay.db
VITE_API_URL=http://localhost:8895
